@import url('https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap');

*{
   padding: 0;
   margin: 0;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
   color: inherit;
}
html{
   font-family: 'Quicksand', sans-serif;
   font-weight: 400;
   font-size: 14px;
   box-sizing: border-box;
}
.container {
   max-width: 1460px;
   margin: 0px auto;
   padding: 0 10px;}
.subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 10px;
line-height: 120%; /* 12/10 */
letter-spacing: 0.1em;
text-transform: uppercase;
color: #3D4F9F;
}
strong {
   font-weight: 500;
}
.main__btn {
   display: inline-block;
   padding: 13px 16px;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
   border-radius: 2px;
}
.about__btn-red{
   color: #D43F3F;
   background-color: #FFD7D7;
}
.btn-blue{
   color: #3A79FF;
   background: #D2E1FF;
}
/* --------------------------------------HEADER */
.header {
   display: flex;
   height: 80px;
   max-width: 1206px;
   margin: 0px auto;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}
.header__nav{
   display: flex;
   gap: 73px;
}
.header__logo {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   background-color: #5E81FE;
}
.header__items {
    display: flex;
   gap: 42px;
   font-size: 12px;
   font-weight: 500;
}
.header__item:hover {
   color: #5E81FE !important;
   font-weight: 700;
}
.social__items {
   display: flex;
   gap: 34px;
}
.header__body-burger {
   display: flex;
   align-items: center;
}
.header__body-social {
   display: flex;
   gap: 44px;
   align-items: center;
}
.header__btn {
   padding: 13px 16px;
   background-color: #D2E1FF;
   border-radius: 2px;
   color: #3A79FF;
   font-weight: 700;
}
.burger {
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
   right: 0;
}
.burger span {
   height: 2px;
   width: 80%;
   transform: scale(1);
   background-color: black;
}
.burger::before,
.burger::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 80%;
   background-color: black;
   transition: all 0.3s ease 0s;
}
.burger::before {
   top: 0;
}
.burger::after {
   bottom: 0;
}
.burger.active span {
   transform: scale(0);
}
.burger.active::before {
   top: 50%;
   transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0, 50%);
}
.open {
   display: flex !important;
}
@media (max-width: 900px) {
   .burger {
      display: flex;
   }
   .burger__nav {
      display: none;
      flex-direction: column;
      position: fixed;
      height: 50%;
      width: 30%;
      top: 0;
      right: 0;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: #D2E1FF;
      opacity: 0.9;
   }
   .header__items {
      flex-direction: column;
      row-gap: 30px;
   }
}
@media (max-width: 600px){
   .social__nav {display: none;}
   .header__body-social {gap: 30px;}
}
/* --------------------------------------HOME */
.home__bg {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 92px 10px 0;
   position: relative;
   min-height: 480px;
   background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%) 0 0 no-repeat;
}
.home__bg::after, .home__bg::before{
   content: '';
   display: inline-block;
   width: 100%;
   position: absolute;
}
.home__bg::after{
   height: 500px;
   background: url('../img/prod/main_bg.png') center no-repeat;
}
.home__bg::before{
   height: 800px;
   background: url('../img/prod/clouds.png') 0 0 no-repeat;
}
.home__subtitle {
   margin-bottom:16px;
}
.home__title {
   font-weight: 300;
   font-size: 48px;
   line-height: 125%; /* 60/48 */
   color: #3D4F9F;
   margin-bottom: 28px;
   text-align: center;
}
.home__text {
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   line-height: 192.857143%; /* 27/14 */
   letter-spacing: 0.03em;
   color: #8D96BD;
   margin-bottom: 20px;
   max-width: 502px;
   text-align: center;
}
.home__location  {
   position: absolute;
}
.home__location {
   width: 92px;
   height: 63px;
   left: 30.5%;
   top: 400px;
}
.home__play{
   width: 52px;
   height: 52px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   text-align: center;
}
.home__play span{
   transform: translateX(-2px);
   width: 30px;
   height: 30px;
   clip-path: polygon(45% 23%, 45% 63%, 77% 43%);
   background-color: #5E81FF;
}
.home__footer{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 76px;
   row-gap: 20px;
   padding: 58px 10px;
}
.home__footer img:hover{
   filter: invert(48%) sepia(45%) saturate(787%) hue-rotate(186deg) brightness(95%) contrast(90%);
}
@media (max-width: 600px){
   .home__bg::before{
      display: none;
   }
   .home__bg{
      padding-top: 50px;
   }
   .home__location {display: none;}
   .home__bg::after {
      height: 600px;
   }
}
/* --------------------------------------PLAN */
.plan {
   background-color: #F5F8FF;
   padding: 208px 10px 116px;
   position: relative;
   display: flex;
   column-gap: 20px;
   max-height: 350px;
}
.plan__body {
   display: inline-block;
   padding-left: 250px;
   margin-right: -120px;
   flex: 0 1 49%;
}
.body-plan__subtitle {
   margin-bottom: 27px;
}
.body-plan__title {
   margin-bottom: 27px;
   color: #3D4F9F;
   font-size: 36px;
   line-height: 45px;
}
.body-plan__text {
   max-width: 413px;
   margin-bottom: 47px;
}
.plan__img{
   display: inline-block;
   margin-top: -100px;
   max-width: 750px;
}
.plan__img img {
   width: 100%;
   object-fit: contain;
}
.body-plan__buttons{
display: inline-flex;
}
.body-plan__btn {
   display: inline-block;
   padding: 13px 25px;
}
.body-plan__btn_blue{
   background: #4C85FF;
   box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
   color: white;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
}
.body-plan__btn_grey{
   background: #F5F8FF;
   color: #ADB4D2;
   border: 1px solid #D1D1E4;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
@media (max-width: 1200px){
   .plan__body{
      padding-left: 150px;
   }
   .plan {
      padding: 100px 0 80px;
   }
   .plan__img{
      margin-top: -50px;
   }
}
@media (max-width: 950px){
   .plan__body{
      padding-left: 50px;
   }
}
@media (max-width: 850px){
   .plan {
      flex-wrap: wrap;
      max-height: 650px;
      max-width: 100vw;
   }
   .home__bg{
      max-width: 100vw;
   }
   .plan__img{
      margin-top: 0;
   }
   .plan__body {
      flex: 0 1 100%;
   }
}
@media (max-width: 550px){
   .plan{
      max-height: 500px;
      padding-left: 10px ;
      padding-right: 10px ;
   }
   .plan__body{
      padding-left: 0;
   }
   .body-plan__text {
      max-width: 80%
   }
}

/* --------------------------------------ABOUT */
.about {
   background: url('../img/about/clouds.png') center no-repeat;
   padding: 171px 10px;
   text-align: center;
}
.about__subtitle {
   margin-bottom: 20px;
}
.about__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 125%; /* 30/24 */
   color: #3D4F9F;
   margin-bottom: 92px;
}
.about__items {
   display: flex;
   justify-content: space-between;
   max-width: 760px;
   margin: 0px auto;
   gap: 10px;
}
.about__item {
   flex: 0 1 140px;
   max-width: 140px; 
   font-family: sans-serif;
}
.item-about__img {
   width: 69px;
   height: 69px;
   border-radius: 50%;
   background-color: #F1F5FF;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px auto;
   margin-bottom: 33px;
}
.item-about__title {
   font-weight: 700;
   line-height: 178.571429%; /* 25/14 */
   color: #4074F8;
   margin-bottom: 25px;
}
.item-about__text {
  
   font-weight: 600;
   font-size: 11px;
   line-height: 172.727273%; /* 19/11 */
   color: #ADB3CB;
   margin-bottom: 95px;
}

.about__buttons {
   display: flex;
   justify-content: center;
   column-gap: 47px;
   align-items: center;

}
.about__or {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 11px;
   line-height: 172.727273%; /* 19/11 */
   font-family: sans-serif;
}
