@import url('https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap');
*{
   padding: 0;
   margin: 0;
}
h1, h2, h3, h4, h5 {
   font-weight: 400;
   font-size: 14px;
   line-height: 1;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
   color: inherit;
}
html{
   font-family: 'Quicksand', sans-serif;
   font-weight: 400;
   font-size: 14px;
   box-sizing: border-box;
}
.container {
   max-width: 1460px;
   margin: 0px auto;
   padding: 0 10px;}
.subtitle {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 10px;
   line-height: 120%; /* 12/10 */
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #3D4F9F;
}
strong {
   font-weight: 500;
}
.main__btn {
   display: inline-block;
   padding: 13px 16px;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
   border-radius: 2px;
}
.about__btn-red{
   color: #D43F3F;
   background-color: #FFD7D7;
}
.btn-blue{
   color: #3A79FF;
   background: #D2E1FF;
}
/* --------------------------------------HEADER */
.header {
   display: flex;
   height: 80px;
   max-width: 1206px;
   margin: 0px auto;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}
.header__nav{
   display: flex;
   gap: 73px;
}
.header__logo {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   background-color: #5E81FE;
}
.header__items {
    display: flex;
   gap: 42px;
   font-size: 12px;
   font-weight: 500;
}
.header__item:hover {
   color: #5E81FE !important;
   /* font-weight: 700; */
}
.social__items {
   display: flex;
   gap: 34px;
}
.header__body-burger {
   display: flex;
   align-items: center;
}
.header__body-social {
   display: flex;
   gap: 44px;
   align-items: center;
}
.header__btn {
   padding: 13px 16px;
   background-color: #D2E1FF;
   border-radius: 2px;
   color: #3A79FF;
   font-weight: 700;
}
.burger {
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
   right: 0;
}
.burger span {
   height: 2px;
   width: 80%;
   transform: scale(1);
   background-color: black;
}
.burger::before,
.burger::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 80%;
   background-color: black;
   transition: all 0.3s ease 0s;
}
.burger::before {
   top: 0;
}
.burger::after {
   bottom: 0;
}
.burger.active span {
   transform: scale(0);
}
.burger.active::before {
   top: 50%;
   transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0, 50%);
}
.open {
   display: flex !important;
}
@media (max-width: 900px) {
   .burger {
      display: flex;
   }
   .burger__nav {
      display: none;
      flex-direction: column;
      position: fixed;
      height: 50%;
      width: 30%;
      top: 0;
      right: 0;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: #D2E1FF;
      opacity: 0.9;
   }
   .header__items {
      flex-direction: column;
      row-gap: 30px;
   }
}
@media (max-width: 600px){
   .social__nav {display: none;}
   .header__body-social {gap: 30px;}
}
/* --------------------------------------HOME */
.home{
   
}
.home__bg {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 92px 10px 0;
   position: relative;
   min-height: 480px;
   background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%) 0 0 no-repeat;
}
.home__bg::after, .home__bg::before{
   content: '';
   display: inline-block;
   width: 100%;
   position: absolute;
}
.home__bg::after{
   height: 500px;
   max-width: 100vw;
   background: url('../img/prod/main_bg.png') center/ 100% no-repeat;
}
.home__bg::before{
   height: 800px;
   background: url('../img/prod/clouds.png') 0 0 no-repeat;
}
.home__subtitle {
   margin-bottom:16px;
}
.home__title {
   font-weight: 300;
   font-size: 48px;
   line-height: 125%; /* 60/48 */
   color: #3D4F9F;
   margin-bottom: 28px;
   text-align: center;
}
.home__text {
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   line-height: 192.857143%; /* 27/14 */
   letter-spacing: 0.03em;
   color: #8D96BD;
   margin-bottom: 20px;
   max-width: 502px;
   text-align: center;
}
.home__location  {
   position: absolute;
}
.home__location {
   width: 92px;
   height: 63px;
   left: 30.5%;
   top: 400px;
}
.home__play{
   width: 52px;
   height: 52px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   text-align: center;
}
.home__play span{
   transform: translateX(-2px);
   width: 30px;
   height: 30px;
   clip-path: polygon(45% 23%, 45% 63%, 77% 43%);
   background-color: #5E81FF;
}
.home__footer{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 76px;
   row-gap: 20px;
   padding: 58px 10px;
}
.home__footer-img:hover{
   filter: invert(48%) sepia(45%) saturate(787%) hue-rotate(186deg) brightness(95%) contrast(90%);
}
@media (max-width: 600px){
   .home__bg::before{
      display: none;
   }
   .home__bg{
      padding-top: 50px;
   }
   .home__location {display: none;}
   .home__bg::after {
      height: 600px;
   }
}
/* --------------------------------------PLAN */
.plan {
   background-color: #F5F8FF;
   padding: 170px 10px;
}
.plan__main{
   gap: 30px;
   justify-content: space-between;
   align-items: center;
}
.plan__body {
   padding-right: 15px;
   max-width: 100%;
   padding-left: 200px;
}
.body-plan__subtitle {
   margin-bottom: 27px;
}
.body-plan__title {
   margin-bottom: 27px;
   color: #3D4F9F;
   font-size: 36px;
   line-height: 45px;
}
.body-plan__text {
   max-width: 413px;
   margin-bottom: 47px;
}
.plan__img{
   float: right;
   max-width: 48%;
   margin-top: -70px;
}
.plan__img img {
   display: inline-block;
   max-width: 100%;
}
.body-plan__buttons{
   display: inline-flex;
}
.body-plan__btn {
   display: inline-block;
   padding: 13px 25px;
}
.body-plan__btn_blue{
   background: #4C85FF;
   box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
   color: white;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
}
.body-plan__btn_grey{
   background: #F5F8FF;
   color: #ADB4D2;
   border: 1px solid #D1D1E4;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
@media (max-width: 1200px){
  .plan__body {
   padding-left: 100px;
  }
   .plan {
      padding: 100px 0 80px;
   }
   .plan__img{
      max-width: 48%;
      margin-top: -30px;
   }
}
@media (max-width: 850px){
   .plan__img{
      float: none;
      max-width: 80%;
      margin: 0px auto;
      margin-bottom: 20px;
   }
}
@media (max-width: 550px){
   .plan {
      padding: 70px 0 60px;
   }
   .plan__body {
      padding-left: 20px;
     }
}


/* --------------------------------------ABOUT */
.about__body{
   background: url('../img/about/clouds.png') center no-repeat;
   padding: 171px 10px;
   text-align: center;
}
.about__subtitle {
   margin-bottom: 20px;
}
.about__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 125%; /* 30/24 */
   color: #3D4F9F;
   margin-bottom: 92px;
}
.about__items {
   display: flex;
   justify-content: space-between;
   max-width: 760px;
   margin: 0px auto;
   gap: 10px;
}
.about__item {
   flex: 0 1 140px;
   max-width: 140px; 
   font-family: 'Open sans', sans-serif;
}
.item-about__img {
   width: 69px;
   height: 69px;
   border-radius: 50%;
   background-color: #F1F5FF;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px auto;
   margin-bottom: 33px;
}
.item-about__title {
   font-weight: 700;
   line-height: 178.571429%; /* 25/14 */
   color: #4074F8;
   margin-bottom: 25px;
}
.item-about__text {
   font-weight: 600;
   font-size: 11px;
   line-height: 172.727273%; /* 19/11 */
   color: #ADB3CB;
}
.about__buttons {
   margin-top: 95px;
   display: flex;
   justify-content: center;
   column-gap: 40px;
   align-items: center;
}
.about__or {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 11px;
   line-height: 172.727273%; /* 19/11 */
   font-family: 'Open sans', sans-serif;
   color: #ADB3CB;
}
.about__or::before, .about__or::after{
   content: '';
   width: 15px;
   height: 2px;
   background-color: #DAE4FE;
   display: inline-block;
   margin-bottom: 2px;
}
.about__or::before{
   margin-right: 30px;
}
.about__or::after{
   margin-left: 30px;
}
@media (max-width:900px){
   .about__body{  
      padding: 100px 10px;
   }
}
@media (max-width: 550px){
   .about__body{
      padding: 70px 10px;
   }
   .about__items {
      flex-wrap: wrap;
      row-gap: 30px;
   }  
   .about__item {
      flex: 0 1 48%;
      max-width: 48%; 
   }
   .about__title{
      margin-bottom: 50px;
   }
   .item-about__img{
      margin-bottom: 20px;
   }
   .item-about__title{
      margin-bottom: 20px;
   }
   .about__or::before{
      display: none;
   }
   .about__or::after{
      display: none;
   }
   .about__buttons{
      column-gap: 20px;
   }
   .about__buttons {
      margin-top: 60px;
   }
}
/* ----------------------------------about--INFO */
.info {
   max-width: 100%;
   display: flex;
}
.info__body {
   min-width: 49.8%;
   padding-top: 66px;
   padding-bottom: 66px;
}
.info__body_left {
   color: white;
   background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.info__body_right {
   background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.info__img {
   margin-bottom: 24px;
}
.info__statistic {
   margin-bottom: 24px;
   font-size: 48px;
   line-height: 172.916667%; /* 83/48 */
   letter-spacing: 0.03em;
}
.info__text {
   font-weight: 500;
   font-size: 18px;
   line-height: 127.777778%; /* 23/18 */
   letter-spacing: 0.03em;
   max-width: 260px;
}
.body-left__wrapper{
   margin-right: 90px;
   margin-left: 10px;
   text-align: right;
}
.body-right__wrapper{
   margin-left: 90px;
   margin-right: 10px;
}
.text_left{
   max-width: 260px;
   margin: 0 0 0 auto;
}
@media (max-width: 800px){
   .body-left__wrapper{
      margin-right: 50px;
   }
   .body-right__wrapper{
      margin-left: 50px;
   }
   .info__img {
      margin-bottom: 10px;
   }
   .info__statistic{
      margin-bottom: 10px;
   }
}
@media (max-width: 550px){
   .info__img {
      width: 50px;
   }
   .info__img img {
      width: 100%;
   }
   .body-left__wrapper .info__img{
      margin: 0 0 0 auto;
   }
   .info__statistic{
      margin-bottom: 0px;
   }
   .info__text {
      font-size: 14px;
   }
   .info__statistic{
      font-size: 38px;
   }
   .info__body {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}
/* ----------------------------------START */
.start {
   padding: 104px 0;
   text-align: center;
   background-color: #F5F8FF;
}
.start__subtitle {
   margin-bottom: 20px;
}
.start__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 30px;
   color: #3D4F9F;
   margin-bottom: 92px;
}
.start__slider {
   background-color: white;
   box-shadow: 0px 15px 50px #EFF4FF;
   border: 1px solid #D8E3FE;
   margin-bottom: 90px;
   max-width: 70%;
   margin: 0px auto;
   padding: 63px 35px;
   position: relative;
}
.start__slider::after, .start__slider::before{
   content: '';
   display: inline-block;
   width: 27px;
   height: 19px;
   position: absolute;
   bottom: 50%;
}
.start__slider::after{
   background-image: url('../img/slider/arrow-right.svg');
   right: -50px;
}
.start__slider::before{
   background-image: url('../img/slider/arrow-left.svg');
   left: -50px;
}
.slider-start__body {
   display: flex;
   gap: 60px;
}
.slider-start__images {
   display: flex;
   max-width: 410px;
   gap: 13px;
  }
.right-block__img{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main__img{
   width: 260px;
}
.main__img img {
   width: 100%;
}
.right-block__img img, .main__img img {
   border-radius: 6px;
}
.slider-start__info {
   max-width: 60%;
}
.img_1{
   max-width: 126px;
}
.img_1 img {
   width: 100%;
}
.slider-start__title {
   font-size: 36px;
   line-height: 125%; /* 45/36 */
   color: #3D4F9F;
   margin-bottom: 32px;
   max-width: 360px;
   text-align: left;
}
.slider-start__text {
   color: #8D96BD;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   line-height: 192.857143%; /* 27/14 */
   letter-spacing: 0.03em;
   max-width: 408px;
   margin-bottom: 31px;
   text-align: left;
}
.slider-start__buttons {
   display: flex;
   gap: 25px;
   align-items: center;
}
.slider-start__link {
   color: #A6B6DA;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
}
.slider__elipse{
   margin-top: 100px;
   text-align: center;
   position: relative;
}

@media (max-width: 1200px){
   .slider-start__images{
      flex-direction: column;
   }
   .right-block__img{
      flex-direction: row;
   }
}
@media (max-width: 870px){
   .slider-start__title{
      font-size: 30px;
      margin-bottom: 20px;
   }
   .slider-start__body {
      gap: 30px;
   }
   .slider-start__text {
      margin-bottom: 20px;
   }
   .slider-start__buttons{
      flex-direction: column;
      row-gap: 10px;
      align-items: start;
   }
   .start {
      padding: 70px 0;
   }
   .slider__elipse{
      margin-top: 80px;
   }
}
@media (max-width: 740px){
   .slider-start__images{
      flex-direction: row;
   }
   .right-block__img{
      flex-direction: column;
   }
   .slider-start__body{
      flex-direction: column;
   }
   .start__slider{
      padding: 30px 35px;
   }
   .slider-start__info {
      max-width: 100%;
   }
   .slider-start__images {
      column-gap: 10px;  
      row-gap: 0;
   }
   .right-block__img {
      justify-content: space-between;
   }
   .start {
      padding: 50px 0;
   }
   .start__title{
      margin-bottom: 50px;
   }
   .start__slider::after{
      right: 0px;
      }
      .start__slider::before{
      left: 0px;
      }
      .slider__elipse{
         margin-top: 60px;
      }
}
/* ----------------------------------CUSTOM */
.custom {
   background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
   padding: 108px 0;
   overflow: hidden;
}
.custom__body {
   max-width: 70%;
   margin: 0px auto;
   display: flex;
   position: relative;
}
.custom__info {
   flex-basis: 50%;
}
.custom__subtitle {
   margin-top: 37px;
   margin-bottom: 30px;
}
.custom__title {
   font-weight: 500;
   font-size: 36px;
   line-height: 125%; /* 45/36 */
   color: #3D4F9F;
   margin-bottom: 10px;
}
.custom__text {
   max-width: 323px;
}
.custom__blog {
   flex-basis: 50%;
}
.blog-custom__card {
   background: #FFFFFF;
   border: 1px solid #D8E3FE;
   box-shadow: 0px 5px 50px #F3F5FA;
   padding: 40px 70px 50px;
   line-height: 171.428571%; /* 24/14 */
   letter-spacing: 0.03em;
   font-family: 'Roboto', sans-serif;
   color: #676F95;
   position: relative;
   margin-bottom: 75px;
}
.blog-custom__card img {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%); 
}
.blog-custom__elipses {
   text-align: center;
}
.blog-custom__hidden{
   position: absolute;
   right: -600px;
   opacity: 0.5;
   max-width: 423px;
}
@media (max-width: 1284px){
   .blog-custom__hidden{
      max-width: 300px;
      right: -480px;
   }
}
@media (max-width: 1084px){
   .blog-custom__hidden{
      right: -420px;
   }
   .blog-custom__card{
      padding: 40px;
   }
}
@media (max-width: 984px){
   .custom{
      padding: 70px 0;
   }
   .custom__body {
      column-gap: 10px;
   }
   .custom__subtitle {
      margin-top: 0px;
      margin-bottom: 15px;
   }
   .blog-custom__hidden{
      display: none;
   }
   .custom__body {
      max-width: 90%;
   }
   .blog-custom__card{
      margin-bottom: 50px;
   }
}
@media (max-width: 550px){
   .custom__body{
      flex-direction: column;
      row-gap: 30px;
   }
   .custom__title{
      margin-bottom: 15px;
   }
}
/* ----------------------------------FREQUEN */
.frequen {
   padding: 175px 0;
   max-width: 743px;
   margin: 0px auto;
}
.frequen__subtitle {
   margin-bottom: 20px;
   text-align: center;
}
.frequen__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 125%; /* 30/24 */
   color: #3D4F9F;
   margin-bottom: 55px;
   text-align: center;
}
.frequen__list li{
   border-bottom: 1px solid #D8E3FE;
}
.frequen__li_title {
   font-weight: 500;
   font-size: 15px;
   line-height: 126.666667%; /* 19/15 */
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin: 20px 0;
   margin-left: 20px;
}
.frequen__li_title::before{
   content: '';
   width: 18px;
   height: 11px;
   display: inline-block;
   margin-right: 24px;
   background-image: url('../img/frequen/arrow-down.svg');
}
.frequen__li_info {
   margin-left: 80px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   align-items: center;
}
.frequen__li_text {
   font-family: 'Roboto', sans-serif;
   line-height: 192.857143%; /* 27/14 */
   letter-spacing: 0.03em;
   color: #8D96BD;
   max-width: 391px;
   margin-top: 16px;
}
.frequen__li_btn {
   padding: 13px 15px;
   background-color: #E8ECF4;
   border-radius: 2px;
   color: #7382A3;
   margin-right: 15px;
}
.frequen__li_title-active{
   font-weight: 700;
   font-size: 15px;
   line-height: 126.666667%; /* 19/15 */
   letter-spacing: 0.03em;
   font-weight: 500;
   line-height: 123.076923%; /* 16/13 */
   color: #495274;
   margin: 20px 0;
   margin-left: 20px;
} 
.frequen__li_title-active::before{
   content: '';
   width: 18px;
   height: 11px;
   display: inline-block;
   margin-right: 24px;
   background-image: url('../img/frequen/arrow-up.svg');
}
.frequen-active{
   display: none;
}
.frequen-none{
   display: none;
}
.frequen-open{
   display: block;
}
.frequen__li:hover .frequen__li_title{
   display: none;
}
.frequen__li:hover .frequen-active{
   display: block;
}
@media (max-width: 700px){
   .frequen{
      padding: 100px 0;
   }
   .frequen__li_info{
      flex-direction: column;
   }
   .frequen__li_text{
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 30px;
   }
   .frequen__li_btn{
      margin-left: 10px;
   }
}
@media (max-width: 450px){
   .frequen__li_title-active{
      margin: 15px 0;
   }
   .frequen__li_text{
      margin-top: 0;
   }
   .frequen__li_info{
      margin-bottom: 20px;
      margin-left: 40px;
   }
}
/* ----------------------------------STARTED */
.started__blue {
   background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
   overflow: hidden;
}
.started__blue::before{
   content: '';
   overflow: hidden;
   position: absolute;
   display: inline-block;
   min-height: 500px;
   width: 100%;
   background: url('../img/started/clouds.png') center no-repeat;
}
.blue-started__body{
   padding: 91px 0;
   text-align: center;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.blue-started__subtitle {
   color: white;
   margin-bottom: 16px;
}
.blue-started__title {
   font-weight: 300;
   font-size: 48px;
   line-height: 125%; /* 60/48 */
   margin-bottom: 28px;
}
.blue-started__text {
   max-width: 712px;
   font-size: 15px;
   line-height: 193.333333%; /* 29/15 */
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 40px;
}
.blue-started__buttons {
   display: flex;
   justify-content: center;
}
.blue-started__btn {
   font-weight: 500;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
}
.blue-started__white {
   padding: 13px 17px;
   color: #565F82;
   background: #FFFFFF;
   box-shadow: 0px 5px 15px #6480E8;
}
.blue-started__blue {
   padding: 13px 9px;
   color: #C7D3FF;
   border: 1px solid #A0B4FF;
}

.started__white {
   padding: 118px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 20px;
}
.white-started__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 122.222222%; /* 22/18 */
   color: #3D4F9F;
   margin-bottom: 18px;
}
.white-started__text {
   font-family: 'Roboto', sans-serif;
   line-height: 192.857143%; /* 27/14 */
   letter-spacing: 0.03em;
   color: #8D96BD;
   max-width: 330px;
}
.white-started__form button{
   background: #4D6CE1;
   box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
   border-radius: 5px;
   color: white;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; /* 16/13 */
   padding: 22px 62px;
}
.white-started__form input {
   width: 279px;
   height: 59px;
   padding-left: 23px;
   border: none;
   background: #EFEFF7;
   border-radius: 5px;
   margin-right: 14px;
   margin-bottom: 10px;
}
.white-started__form::placeholder{
   color: #7A85AD;
   font-weight: 700;
   font-size: 13px;
   line-height: 123.076923%; 
}
@media (max-width: 850px){
   .started__white{
      padding: 80px 0;
   }
}
@media (max-width: 600px){
   .started__white{
      padding: 50px 0;
   }
   .started__white{
      flex-direction: column;
      align-items: start;
   }
   .white-started__body{
      margin-bottom: 30px;
   }
}

